<label for="location-search">Search for a new place: </label>
<input id="location-search" placeholder="Ex. Vinkovci" #search><button (click)="searchHousingLocations(search.value)">Search</button>
<article *ngFor="let location of this.results">
  <p>{{location.name}}</p>
  <p>{{location.city}}, {{location.state}}</p>
  <!-- If View button is clicked twice for the same component we want to hide the details in that case -->
  <button (click)="selectHousingLocation(location)">View</button>
</article>
