input, button {
  border: solid 1px #555B6E;
  border-radius: 2px;
  display: inline-block;
  padding: 0;
}

input, button, label {
  margin: 3px;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 2px 0 0 2px;
  color: #888c9c;
  border: solid 1px #888c9c;
  padding: 0 5px 0 10px;
}

button {
  width: 70px;
  height: 42px;
  background-color: #4468e8;
  color: white;
  border: solid 1px #4468e8;
  border-radius: 0 2px 2px 0;
}

article {
  margin: 40px 0 10px 0;
  color: #202845;
}

article, article > p {
  color: #202845;
}

article > p:first-of-type {
  font-weight: bold;
  font-size: 22pt;
}

img {
  width: 490px;
  border-radius: 5pt;
}

label {
  display: block;
  color: #888c9c;
}
