html {
    font-size: 10px;        /* This is an example of a comment. 10px = 10 pixels. */
    font-family: "Rajdhani", sans-serif;        /* Another comment. This info we get from the web. */
    color: white;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, li, a {
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
}

.centered-img {
    display: block;
    margin: 0 auto;
}

html {
    background-color: #567e8f;
}

body {
    width: 1200px;
    margin: 200px auto;
    background-color: #4da0c4;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: white;
    text-shadow: 3px 3px 1px black;
}