<main>
  <header><img src="../assets/logo.svg" alt="fairhose"> My Fairhouse</header>
  <section>
    <app-housing-list (locationSelectedEvent)="updateSelectedLocation($event)" (hideLocationDetailsEvent)="updateSelectedLocation(null)"></app-housing-list>
  </section>

  <article>
    <ng-container *ngIf="this.selectedLocation">
      <img [src]="this.selectedLocation.photo" alt="Photograph of the location that user has selected to view">
      <p>{{this.selectedLocation.name}}</p>
      <p>{{this.selectedLocation.availableUnits}}</p>

      <p>{{this.selectedLocation.city}}, {{this.selectedLocation.state}}</p>

      <p>{{this.selectedLocation.laundry ? "Has laundry" : "Does not have laundry"}}</p>
      <p>{{this.selectedLocation.wifi ? "Has wifi" : "Does not have wifi"}}</p>
    </ng-container>
  </article>
</main>
